.default-car-container{
    position: relative;
    
    top: 0;
    left: 0;
    background-color: blue;
    width: auto;
    
  }
  .image1{
    /* position: relative; */
    top: 0px;
    left: 0px;
    width: 100;
  }
  .image2 {
    position: absolute;
    top: 0px;
    left: 0px;
    /* border: 2px green solid; */
    width: 100%;
  }
  @media screen and (min-width: 550px) {
    .container-image { 
      width: 600px;
      height: 100px;
    
    
  
    }
  
    
  }